.mobile {
  .page {
    position: relative;
    width: 100%;
    height: 100%
  }
  .page.dimmed::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  .contents {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    position: relative;
    .localeArea {
      width: 100%;

      .inner {
        display: flex;
        align-items: center;
        justify-content: end;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--grey);
          font-size: 14px;
          width: 40px;
          height: 40px;
          padding: 0 8px;
          border-bottom: 2px solid transparent;
        }
        a:hover {
          border-color: var(--grey);
        }
        a.active {
          color: var(--white);
          font-variation-settings: 'wght' 600;
          border-color: var(--white);
        }
      }
    }
    .leftArea {
      width: 100%;
      padding: 20px 0 0 0;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;

       .header {
        .myName {
          h1 {
          font-size: 36px;
          font-variation-settings: 'wght' 600;
          line-height: 1.2500;
          }
          h2 {
            font-size: 20px;
            font-variation-settings: 'wght' 500;
            line-height: 1.2500;
            padding-top: 16px;
          }
          div {
            color: var(--white);
            padding-top: 16px;
            p {
              display: flex;
              align-items: center;
              img, svg {
                width: 18px;
                aspect-ratio: 1;
                margin-right: 4px;
              }
            }
          }
        }

        .leftNavigation {
          padding: 24px 0;

          a {
            cursor: pointer;
            display: flex;
            width: max-content;
            margin: 2px 0;
            padding: 2px 0
          }
          a:hover {
            color: var(--grey);
            font-variation-settings: 'wght' 500;
          }
        }
      }
    }
    .rightArea {
      width: 100%;
      padding: 0;
      overflow-y: auto;
      position: relative;
      .each {
        padding-top: 32px;
        margin-top: 32px;
        .mainTitle {
          font-size: 24px;
          font-variation-settings: 'wght' 600;
          padding: 8px 0;
          border-bottom: 1px solid var(--grey);
        }
        .eachInfo {
          padding-top: 4px;
          .eachTitle {
            flex-shrink: 0;
            width: 100%;
            p, a {
              font-size: 18px;
              font-variation-settings: 'wght' 600;
            }
            a::after {
              display: inline-flex;
              content: '↗';
              color: var(--yellow);
              margin-left: 4px;
              font-variation-settings: 'wght' 600;
            }
            label {
              display: flex;
              padding-top: 4px;
            }
          }
          .eachDesc {
            p {
              padding-top: 8px;
              span.bold {
                font-variation-settings: 'wght' 600;
                color: var(--pink);
              }
            }
            p.skillSpan span {
              display: inline-flex;
              flex-wrap: wrap;
              align-items: center;
              font-size: 14px;
              padding: 6px 4px;
              margin: 1px 4px 1px 0;
              border: 1px solid var(--pink);
              border-radius: 12px;
            }
            input, textarea {
              width: 100%;
              color: var(--black);
              background-color: var(--white);
              border-radius: 4px;
              padding: 6px 8px;
              margin-top: 8px;
            }
            textarea {
              aspect-ratio: 3;
              outline: unset;
            }
            .linkContent {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;
              .eachLink {
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                flex-grow: 1;
                width: 100%;
                aspect-ratio: 3.5;
                margin-top: 8px;
                padding: 16px;
                color: var(--black);
                background-color: #FFFFFF;
                border-radius: 8px;
                transition: all 0.25s linear;
                .imageArea, .hoverChange {
                  width: 50%;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: center;
                }
                img {
                  max-width: 100px;
                  max-height: 40px;
                  display: block;
                }
                p {
                  width: 100%;
                  padding: 0 20px;
                  margin-top: 4px;
                  text-align: center;
                  line-height: 1;
                }
                .hoverChange{
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: center;
                  a {
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    font-size: 14px;
                    text-align: center;
                    padding: 4px;
                    margin-top: 0;
                    border: 1px solid var(--grey);
                    color: var(--white);
                    background-color: var(--black);
                    font-variation-settings: 'wght' 600;
                  }
                  a:nth-child(2n) {
                    margin-top: 4px;
                  }
                  a:after {
                    display: inline-flex;
                    content: '↗';
                    color: var(--yellow);
                    margin-left: 4px;
                  }
                  a:first-child:after {
                    content: '↑';
                  }
                }
              }  
            }
          }
          .eachDesc:has(input, textarea) {
            display: flex;
            flex-flow: column;
            max-width: 100%;
          }
          .eachDesc:has(.button) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 1;
            .button {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-grow: 1;
              color: var(--pink);
              font-variation-settings: 'wght' 600;
              background-color: var(--black);
              border: 1px solid var(--pink);
              border-radius: 4px;
              padding: 8px 16px;
              svg {
                display: none;
                width: 24px;
                aspect-ratio: 1;
                fill: var(--black);
                animation: rotateImage 1s linear infinite; transform-origin: 50% 50%;
              }
            }
            .button.active {
              color: var(--black);
              background-color: var(--pink);
              span {
                display: none;
              }
              svg {
                display: block;
              }
            }
          }
        }
        .eachInfo:not(:first-child) {
          margin-top: 16px;
        }
      }
      .each:not(:nth-child(1)) {
        .eachInfo:not(:nth-child(2)) {
          margin-top: 32px;
        }
      }
      .each:first-child {
        padding-top: 0;
        .eachInfo {
          .eachDesc {
            p {
              padding-top: 0;
            }
          }
        }
      }
      .each:last-child {
        .eachInfo, .eachInfo:not(:nth-child(2)) {
          margin-top: 16px;
        }
      }
    }
    .footer {
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      margin: 100px 0 20px;
      padding: 24px 0 0;
      border-top: 1px solid var(--grey);
    }
  }
  
  
  .popup {
    position: fixed;
    bottom: -40px;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .inner {
      width: 100%;
      height: calc(100% - 80px);
      padding: 20px;
      color: #000000;
      background-color: #FFFFFF;
      border-radius: 12px 12px 0 0;
      overflow-y: hidden;
      .close {
        display: flex;
        align-items: center;
        justify-content: end;
      }
      .nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: -10px;
        a {
          display: flex;
          width: max-content;
          padding: 12px 6px;
          border-bottom: 2px solid transparent;
          margin-right: 0;
          font-variation-settings: 'wght' 600;
          color: var(--grey);
        }
        a:not(:last-child) {
          margin-right: 8px;
        }
        a:hover, a.active {
          color: var(--black);
          border-color: var(--black);
        }
      }
      .projects {
        margin-top: 16px;
        padding: 0 0 32px 0;
        max-height: calc(100% - 130px);
        overflow-y: auto;
        .eachProject {
          display: none;
          ul {
            margin-top: 32px;
            li {
              display: flex;
              align-items: flex-start;
            }
            li:nth-child(1) {
              font-variation-settings: 'wght' 600;
            }
            li:nth-child(1):before {
              content: 'Project';
            }
            li:nth-child(2):before {
              content: 'Date';
            }
            li:nth-child(3):before {
              content: 'Skills';
            }
            li:nth-child(4):before {
              content: 'Role';
            }
            li:nth-child(5):before {
              content: 'Contrib.';
            }
            li:nth-child(6):before {
              content: 'Content';
            }
            li:before {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              width: 60px;
              background-color: var(--pink);
              border-radius: 4px;
              margin-top: 3px;
              margin-right: 12px;
              font-size: 12px;
              font-variation-settings: 'wght' 400;
            }
          }
          ul:first-child {
            margin-top: 0;
          }
        }
        .eachProject.active {
          display: block;
        }
      }
    }
  }
  .popup:has(.inner.open) {
    display: flex;
  }


  .alert {
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .inner {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 20px);
      max-width: 420px;
      padding: 20px 20px 60px 20px;
      color: var(--black);
      background-color: var(--white);
      border-radius: 12px;

      .close {
        display: flex;
        align-items: center;
        justify-content: end;
      }

      .description {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 18px;
        svg {
          width: 24px;
          aspect-ratio: 1;
          margin-right: 4px;
        }
        .error.active, .success.active {
          display: block;
        }
        .error {
          display: none;
          fill: #E71D36;
        }
        .success {
          display: none;
          fill: #3F51B5;
        }
        .text {
          font-size: 16px;
          font-variation-settings: 'wght' 600;
        }
      }
    }
  }
  .alert:has(.inner.open) {
    display: flex;
  }
}