.pc {
  .page {
    position: relative;
    width: 100%;
    height: 100vh
  }
  .page.dimmed::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .contents {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    padding: 160px 100px;
    margin: 0 auto;
    position: relative;

    .localeArea {
      position: absolute;
      width: inherit;
      min-width: 100%;
      top: 96px;
      left: 0;
      padding: 0 100px;

      .inner {
        display: flex;
        align-items: center;
        justify-content: end;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--grey);
          font-size: 14px;
          width: 40px;
          height: 40px;
          padding: 0 8px;
          border-bottom: 2px solid transparent;
        }
        a:hover {
          border-color: var(--grey);
        }
        a.active {
          color: var(--white);
          font-variation-settings: 'wght' 600;
          border-color: var(--white);
        }
      }
    }

    .leftArea {
      width: 40%;
      padding: 8px 64px 8px 8px;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch; 
  
      .header {
        .myName {
          h1 {
           font-size: 36px;
           font-variation-settings: 'wght' 600;
           line-height: 1.2500;
          }
          h2 {
            font-size: 20px;
            font-variation-settings: 'wght' 500;
            line-height: 1.2500;
            padding-top: 16px;
          }
          div {
            color: var(--white);
            padding-top: 16px;
            p {
              display: flex;
              align-items: center;
              img {
                width: 18px;
                aspect-ratio: 1;
                margin-right: 4px;
              }
            }
          }
        }
        .leftNavigation {
          padding: 64px 0;
          a {
            cursor: pointer;
            display: flex;
            width: max-content;
            margin: 2px 0;
            padding: 2px 0
          }
          a:hover {
            color: var(--grey);
            font-variation-settings: 'wght' 500;
          }
        }
      }
    }

    .rightArea {
      width: 60%;
      padding: 8px 16px 8px 8px;
      overflow-y: auto;
      position: relative;
  
      .each {
        margin-bottom: 64px;
  
        .mainTitle {
          font-size: 24px;
          font-variation-settings: 'wght' 600;
          padding: 8px 0;
          border-bottom: 1px solid var(--grey);
        }
        .eachInfo {
          display: flex;
          padding-top: 4px;
  
          .eachTitle {
            flex-shrink: 0;
            width: 200px;
  
            p, a {
              font-variation-settings: 'wght' 500;
            }
  
            a::after {
              display: inline-flex;
              content: '↗';
              color: var(--yellow);
              margin-left: 4px;
              font-variation-settings: 'wght' 600;
            }

            label {
              display: flex;
              padding-top: 4px;
            }
          }
  
          .eachDesc {
            flex-grow: 1;
            p {
              padding-top: 8px;
              span.bold {
                font-variation-settings: 'wght' 600;
                color: var(--pink);
              }
            }
            p:first-child {
              padding-top: 0;
            }
            p.skillSpan {
              span {
                display: inline-flex;
                flex-wrap: wrap;
                align-items: center;
                font-size: 14px;
                padding: 6px 4px;
                margin: 1px 4px 1px 0;
                border: 1px solid var(--pink);
                border-radius: 12px;
              }
              span.active {
                background-color: var(--pink);
                color: var(--black);
                font-variation-settings: 'wght' 600;
              }
            }
            .linkContent {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-between;
  
              .eachLink {
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-wrap: wrap;
                width: calc(50% - 4px);
                aspect-ratio: 2;
                margin-top: 8px;
                padding: 20px;
                color: var(--black);
                background-color: #FFFFFF;
                border-radius: 8px;
                transition: all 0.25s linear;
  
                img {
                  max-width: 50%;
                  max-height: 50%;
                  display: block;
                }
                p {
                  width: 100%;
                  min-width: 100%;
                  padding: 0;
                  margin-top: 4px;
                  text-align: center;
                }
                .hoverChange {
                  display: none;
                  a {
                    display: block;
                    width: 90%;
                    min-width: 90%;
                    font-size: 14px;
                    text-align: center;
                    padding: 4px;
                    margin-top: 0;
                    border: 1px solid var(--grey);
                  }
                  a:hover {
                    color: var(--white);
                    background-color: var(--black);
                    font-variation-settings: 'wght' 600;
                  }
                  a:nth-child(2n) {
                    margin-top: 4px;
                  }
                  a:hover:after {
                    display: inline-flex;
                    content: '↗';
                    color: var(--yellow);
                    margin-left: 4px;
                  }
                  a:first-child:hover:after {
                    content: '↑';
                  }
                }
              }
              .eachLink:hover {
                .hoverChange {
                  display: flex;
                  flex-grow: 1;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: center;
                }
                img, p {
                  display: none;
                }
              }
            }
            input, textarea {
              width: 100%;
              color: var(--black);
              background-color: var(--white);
              border-radius: 4px;
              padding: 6px 8px;
            }
            textarea {
              aspect-ratio: 3;
              outline: unset;
            }
          }
          .eachDesc:has(input, textarea) {
            display: flex;
            flex-flow: column;
            max-width: 100%;
          }
          .eachDesc:has(.button) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 1;
            max-width: 100%;
            padding-left: 200px;
            
            .button {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-grow: 1;
              width: 100%;
              color: var(--pink);
              font-variation-settings: 'wght' 600;
              background-color: var(--black);
              border: 1px solid var(--pink);
              border-radius: 4px;
              margin-top: -6px;
              padding: 8px 16px;
            }
            .button:hover {
              color: var(--black);
              background-color: var(--pink);
            }
          }
        }
        .eachInfo:not(:first-child) {
          margin-top: 16px;
        }
      }
      .each:nth-child(2) {
        margin-top: 16px;  
      }
      .each:last-child {
        margin-bottom: 0;
      }
    }
    .rightArea::-webkit-scrollbar {
      width: 4px;
      border-radius: 1px;
    }
    .rightArea::-webkit-scrollbar-thumb,
    .rightArea::-webkit-scrollbar-track {
      border-radius: 1px;
      background-color: var(--black);
    }
    .rightArea:hover::-webkit-scrollbar-thumb {
      background-color: var(--grey);
    }
    .footer {
      position: absolute;
      width: 100%;
      bottom: 136px;
      left: 0;
      padding: 0 100px;
      display: flex;
      flex-wrap: wrap;
      align-items: end;
    }
  }
  
  .popup {
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .inner {
      width: 50%;
      min-width: 768px;
      height: calc(100vh - 200px);
      padding: 20px 40px 40px 40px;
      color: #000000;
      background-color: #FFFFFF;
      border-radius: 12px;

      .nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: -10px;

        a {
          display: flex;
          width: max-content;
          padding: 12px 6px;
          border-bottom: 2px solid transparent;
          margin-right: 0;
          font-variation-settings: 'wght' 600;
          color: #A8A8A8;
        }
        a:not(:last-child) {
          margin-right: 8px;
        }
        a:hover, a.active {
          color: var(--black);
          border-color: var(--black);
        }
      }

      .close {
        display: flex;
        align-items: center;
        justify-content: end;
      }

      .projects {
        margin-top: 16px;
        padding: 0 0 32px 0;
        max-height: calc(100% - 74px);
        overflow-y: auto;

        .eachProject {
          display: none;

          ul {
            margin-top: 32px;

            li {
              display: flex;
              align-items: center;
            }
            li:nth-child(1) {
              font-variation-settings: 'wght' 600;
            }
            li:last-child {
              align-items: flex-start;
            }
            li:before {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              width: 60px;
              background-color: var(--pink);
              border-radius: 4px;
              margin-right: 12px;
              font-size: 12px;
              font-variation-settings: 'wght' 400;
            }
            li:nth-child(1):before {
              content: 'Project';
            }
            li:nth-child(2):before {
              content: 'Date';
            }
            li:nth-child(3):before {
              content: 'Skills';
            }
            li:nth-child(4):before {
              content: 'Role';
            }
            li:nth-child(5):before {
              content: 'Contrib.';
            }
            li:nth-child(6):before {
              content: 'Content';
              margin-top: 3px;
            }
          }
          ul:first-child {
            margin-top: 0;
          }
        }
        .eachProject.active {
          display: block;
        }
      }
      .projects::-webkit-scrollbar {
        width: 4px;
        border-radius: 1px;
      }
      .projects::-webkit-scrollbar-thumb {
        background-color: var(--grey);
      }
      .projects::-webkit-scrollbar-track {
        border-radius: 1px;
        background-color: transparent;
      }
    }
  }
  .popup:has(.inner.open) {
    display: flex;
  }

  .alert {
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .inner {
      width: 100%;
      max-width: 420px;
      padding: 20px 20px 60px 20px;
      color: var(--black);
      background-color: var(--white);
      border-radius: 12px;

      .close {
        display: flex;
        align-items: center;
        justify-content: end;
      }

      .description {
        display: flex;
        align-items: center;
        justify-content: center;
        .text {
          padding-top: 16px;
          font-size: 20px;
          font-variation-settings: 'wght' 600;
        }
      }
    }
  }
  .alert:has(.inner.open) {
    display: flex;
  }
}

@media (max-width: 1300px) {
  .pc {
    font-size: 1.23vw;
    .contents {
      max-width: 110.77vw;
      padding: 12.31vw 7.69vw;
  
      .localeArea {
        top: 7.38vw;
        padding: 0 7.69vw;
  
        .inner {
          a {
            font-size: 1.08vw;
            width: 3.08vw;
            height: 3.08vw;
            padding: 0 0.62vw;
            border-bottom: 0.15vw solid transparent;
          }
        }
      }
  
      .leftArea {
        padding: 0.62vw 4.92vw 0.62vw 0.62vw;
    
        .header {
          .myName {
            h1 {
             font-size: 2.77vw;
            }
            h2 {
              font-size: 1.54vw;
              padding-top: 1.23vw;
            }
            div {
              padding-top: 1.23vw;
              p {
                img {
                  width: 1.38vw;
                  margin-right: 0.31vw;
                }
              }
            }
          }
          .leftNavigation {
            padding: 4.92vw 0;
            a {
              margin: 0.15vw 0;
              padding: 0.15vw 0
            }
          }
        }
      }
  
      .rightArea {
        width: 60%;
        padding: 0.62vw 1.23vw 0.62vw 0.62vw;
    
        .each {
          margin-bottom: 4.92vw;
    
          .mainTitle {
            font-size: 1.85vw;
            padding: 0.62vw 0;
            border-bottom: 0.08vw solid var(--grey);
          }
          .eachInfo {
            padding-top: 0.31vw;
    
            .eachTitle {
              width: 15.38vw;
    
              a::after {
                margin-left: 0.31vw;
              }
              label {
                padding-top: 0.31vw;
              }
            }
    
            .eachDesc {
              p {
              padding-top: 0.62vw;
              }
              p:first-child {
                padding-top: 0;
              }
              p.skillSpan {
                span {
                  font-size: 1.08vw;
                  padding: 0.46vw 0.31vw;
                  margin: 0.08vw 0.31vw 0.08vw 0;
                  border: 0.08vw solid var(--pink);
                  border-radius: 0.92vw;
                }
              }
              .linkContent {
                .eachLink {
                  width: calc(50% - 0.31vw);
                  margin-top: 0.62vw;
                  padding: 0.77vw;
                  border-radius: 0.62vw;
                  p {
                    padding: 0;
                    margin-top: 0.31vw;
                  }
                  .hoverChange {
                    a {
                      font-size: 1.08vw;
                      padding: 0.31vw;
                      margin-top: 0;
                      border: 0.08vw solid var(--grey);
                    }
                    a:nth-child(2n) {
                      margin-top: 0.31vw;
                    }
                    a:hover:after {
                      margin-left: 0.31vw;
                    }
                  }
                }
              }
              .linkContent:has(.eachLink) {
                max-width: 420px;
              }
              input, textarea {
                font-size: 1.23vw;
                border-radius: 0.31vw;
                padding: 0.46vw 0.62vw;
              } 
            }
            .eachDesc:has(input, textarea) {
              max-width: 41.02vw;
            }
            .eachDesc:has(.button) {
              padding-left: 15.38vw;
              .button {
                flex-flow: unset;
                width: 41.02vw;
                border: 0.08vw solid var(--pink);
                border-radius: 0.31vw;
                margin-top: -0.46vw;
                padding: 0.62vw 1.23vw;
              }
            }
          }
          .eachInfo:not(:first-child) {
            margin-top: 1.23vw;
          }
        }
        .each:nth-child(2) {
          margin-top: 1.23vw;  
        }
      }
      .rightArea::-webkit-scrollbar {
        width: 0.31vw;
        border-radius: 0.08vw;
      }
      .rightArea::-webkit-scrollbar-thumb,
      .rightArea::-webkit-scrollbar-track {
        border-radius: 0.08vw;
      }
      .footer {
        bottom: 10.46vw;
        left: 0;
        padding: 0 7.69vw;
      }
    }
    
  
    .popup {
      .inner {
        min-width: 59.08vw;
        height: calc(100vh - 15.38vw);
        padding: 1.54vw 3.08vw 3.08vw 3.08vw;
        border-radius: 0.92vw;
  
        .nav {
          margin-top: -0.77vw;
  
          a {
            padding: 0.92vw 0.46vw;
            border-bottom: 0.15vw solid transparent;
            margin-right: 0;
          }
          a:not(:last-child) {
            margin-right: 0.62vw;
          }
        }
  
        .projects {
          margin-top: 1.23vw;
          padding: 0 0 2.46vw 0;
          max-height: calc(100% - 70.31vw);
  
          .eachProject {
            ul {
              margin-top: 2.46vw;
              li:before {
                width: 4.62vw;
                border-radius: 0.31vw;
                margin-right: 0.92vw;
                font-size: 0.92vw;
              }
              li:nth-child(6):before {
                margin-top: 0.23vw;
              }
            }
            ul:first-child {
              margin-top: 0;
            }
          }
        }
        .projects::-webkit-scrollbar {
          width: 0.31vw;
        }
      }
    }


    .alert {
      .inner {
        max-width: 32.31vw;
        padding: 1.54vw 1.54vw 4.62vw 1.54vw;
        border-radius: 0.92vw;

        .description {
          .text {
            padding-top: 1.23vw;
            font-size: 1.54vw;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pc {
    .page {
      height: 100%;
    }

    .contents {
      flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
      height: 100%;

      .localeArea {
        top: 60px;
      }

      .leftArea, .rightArea {
        width: 100%;
      }

      .footer {
        position: relative;
        bottom: 0;
        padding: 0;
        margin-top: 100px;
      }
    }

    .popup {
      .inner {
        width: calc(95%);
        min-width: unset;
        font-size: 12px;
        .projects {
          .eachProject {
            display: none;
  
            ul {
              margin-top: 32px;
  
              li {
                margin-top: 3px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .pc {
    font-size: 12px;
    .contents {
      max-width: 851px;
      padding: 95px 59px;
  
      .localeArea {
        top: 57px;
        padding: 0 59px;
  
        .inner {
          a {
            font-size: 8px;
            width: 24px;
            height: 24px;
            padding: 0 5px;
            border-bottom: 1px solid transparent;
          }
        }
      }
  
      .leftArea {
        padding: 5px 38px 5px 5px;
    
        .header {
          .myName {
            h1 {
             font-size: 21px;
            }
            h2 {
              font-size: 12px;
              padding-top: 9px;
            }
            
            div {
              padding-top: 9px;
              p {
                img {
                  width: 11px;
                  margin-right: 2px;
                }
              }
            }
          }
          .leftNavigation {
            padding: 38px 0;
            a {
              margin: 1px 0;
              padding: 1px 0
            }
          }
        }
      }
  
      .rightArea {
        padding: 5px 9px 5px 5px;
    
        .each {
          margin-bottom: 38px;
    
          .mainTitle {
            font-size: 14px;
            padding: 5px 0;
            border-bottom: 1px solid var(--grey);
          }
          .eachInfo {
            padding-top: 2px;
    
            .eachTitle {
              width: 118px;
    
              a::after {
                margin-left: 2px;
              }
              label {
                padding-top: 2px;
              }
            }
    
            .eachDesc {
              p {
                padding-top: 5px;
              }
              p:first-child {
                padding-top: 0;
              }
              p.skillSpan {
                span {
                  font-size: 8px;
                  padding: 4px 2px;
                  margin: 1px 2px 1px 0;
                  border: 1px solid var(--pink);
                  border-radius: 7px;
                }
              }
              .linkContent {
                .eachLink {
                  width: calc(50% - 2px);
                  margin-top: 5px;
                  padding: 12px;
                  border-radius: 5px;
                  p {
                    padding: 0;
                    margin-top: 2px;
                  }
                  .hoverChange {
                    a {
                      font-size: 8px;
                      padding: 2px;
                      margin-top: 0;
                      border: 1px solid var(--grey);
                    }
                    a:nth-child(2n) {
                      margin-top: 2px;
                    }
                    a:hover:after {
                      margin-left: 2px;
                    }
                  }
                }
              }
              input, textarea {
                font-size: 12px;
                border-radius: 2px;
                padding: 4px 5px;
              } 
            }
            .eachDesc:has(input, textarea) {
              max-width: 420px;
            }
            .eachDesc:has(.button) {
              padding-left: 118px;
              .button {
                width: 420px;
                border: 1px solid var(--pink);
                border-radius: 2px;
                margin-top: -4px;
                padding: 5px 9px;
              }
            }
          }
          .eachInfo:not(:first-child) {
            margin-top: 9px;
          }
        }
        .each:nth-child(2) {
          margin-top: 9px;  
        }
      }
      .footer {
        bottom: 0;
        left: 0;
        padding: 0;
      }
    }
    
    .popup {
      .inner {
        min-width: 454px;
        height: calc(100vh - 118px);
        padding: 12px 24px 24px 24px;
        border-radius: 7px;
  
        .nav {
          margin-top: -6px;
  
          a {
            padding: 7px 4px;
            border-bottom: 1px solid transparent;
            margin-right: 0;
          }
          a:not(:last-child) {
            margin-right: 5px;
          }
        }
  
        .projects {
          margin-top: 9px;
          padding: 0 0 19px 0;
          max-height: calc(100% - 72px);
  
          .eachProject {
            ul {
              margin-top: 19px;
              li:before {
                width: 35px;
                border-radius: 2px;
                margin-right: 7px;
                font-size: 7px;
              }
              li:nth-child(6):before {
                margin-top: 2px;
              }
            }
            ul:first-child {
              margin-top: 0;
            }
          }
        }
        .projects::-webkit-scrollbar {
          width: 2px;
        }
      }
    }

    .alert {
      .inner {
        max-width: 248px;
        padding: 12px 12px 35px 12px;
        border-radius: 7px;

        .description {
          .text {
            padding-top: 9px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
